* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/* variabili css per salvare i colori  */
:root {
	--blue: #0061ff;
	--light-blue: #b4d0e7;
	--dark-blue: #0d2481;
	--dark: black;
	--bordeaux: #61082b;
	--green: #a2d39b;
	--yellow: #ffd830;
	--red: #ff1c1c;
	--dark-red: #d5001f;
	--light-gray: #f5f5f5;
	--light: #ffffff;
}
.bordaux-text{
    color: var(--bordeaux);
}
ul,
ol,
menu {
    list-style:none; 
    padding:0;
}
a {
    text-decoration: none; 
    color: currentcolor;
}
.basic-a{
    text-decoration: underline;
    color: blue;
}
img {
    max-width: 100%;
}
.margin-top{
    margin-top: 50px;
}
.padding-bottom{
    padding-bottom: 40px;
}
.padding-vertical{
    padding: 40px 0;

}
.flex-button-card{
    display: flex;
    align-items: center;
    justify-content: end;
}
.display-block{
    display: block;
}
/* Container  */
.container-fluid {
	max-width: 100%;
	margin: 0 auto;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
}
.container-sm {
	max-width: 1000px;
	margin: 0 auto;
}
.row {
	display: flex;
	flex-wrap: wrap;
}
.space-between{
    justify-content: space-between;
    
}
/* CONTENITORE CARD  */

    
/* colonne  */
.col-12 {
	flex-basis: calc((100% / 12) * 12);
}

.col-10 {
	flex-basis: calc((100% / 12) * 10);
}

.col-8 {
	flex-basis: calc((100% / 12) * 8);
}
.col-6 {
	flex-basis: calc((100% / 12) * 6);
}

.col-4 {
	flex-basis: calc((100% / 12) * 4);
}

.col-2 {
	flex-basis: calc((100% / 12) * 2);
	/* flex-basis: calc((100% * 2) / 12); */
}
.row > [class^='col'] {
    padding: 0 25px;
}
.squeres-section [class^='col']{
    padding: 0;
}
/* HEADER  */

.page-header__link-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    font-size: 16px;
}
.row-nav {
    height: 60px;
    align-items: center;
}

/* bottone */
.button {
    background-color: rgba(0, 97, 255, 1);
    color: white;
    display: inline-block;
    white-space: nowrap;
    padding: 5px 10px;

}
.button-white {
    background-color: white;
    color: black;
    display: inline-block;
    border: 1px solid black;
    padding: 5px 10px;
    
}
/* hero  */
.hero {
    background-color: rgba(180, 208, 231, 1);
    padding-top: 50px;
}
.hero-title {
    font-weight: 700;
    font-size: 76px;
    color: black;
    line-height: 1.2;
    margin-bottom: 20px;
    
}

.hero-p{
    margin: 30px 0;
}
/* business-plan SEZIONE */
.business-plan {
    padding-top: 50px;
}

/* Titoli varie sezioni H2 */

.business-plan-title,
.section-card-title,
.intro-customer-section__title{
    font-size: 40px;
    padding-bottom: 30px;
}

.business-plan-card__article{
    padding-left: 20px;
    padding-right: 20px;
}
.business-plan-card{
    border: 1px solid lightgray ;
    /* padding: 20px; */
    /* margin-bottom: 40px; */
    height: 100%;
    
}
.business-plan-card__header{
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
    padding: 10px 0;
    /* margin: 0 10px; */
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: baseline;
}

.business-plan-card__title{
    font-size: 24px;
    font-weight: 700;
    padding: 15px 0;
}
.business-plan-card__price{
    font-size: 14px;
    font-weight: 700;
}
.business-plan-card__subtitle{
    font-size: 14px;
    font-weight: 200;
    opacity: 0.6;
}
/* prima lista  */
.business-plan-card__main-info{
    margin: 30px 0;
}
.business-plan-card li {
    padding-bottom: 20px;
}
/* .business-plan-card__main-info li {
    padding: 10px 0;
} */
.business-plan-card__point-list {
    font-size: 14px;
    font-weight: 700;
    margin-top: 30px;
}
.business-plan-card p,
.business-plan-card li
 {
    margin: 10px 0;
}
.button-card {
    text-align: center;
    margin: 20px 0;
}
.business-plan-card-a{
   padding: 10px 0;
}
 /* SECTION IMG + TEXT  */
 /* padding a varie sezioni  */
.section-img-text,
.section-card,
.intro-customer-section,
.squeres-section{
    padding-top: 120px;
}
.section-img-text__text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
}
/* card  */
.card {
    margin-bottom: 40px;

}
 /* Titolo  */
.section-img-text__title,
.card-title{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.2;
   
}
.card-title {
    margin-bottom: 20px;
}

/* paragrafi  */
.card-p,
.section-img-text__p{
    line-height: 1.2; 
}
 /* sezione a quadrati  */
 .squere{
  /* min-height: 125px;   */
  aspect-ratio: 1 / 1;
  display: flex;
  /* padding: 50px; */
  align-items: center;
  justify-content: center;
}
 .squere-big{
    /* min-height: 250px; */
    aspect-ratio: 1 / 1;
    padding: 30px;
    
 }
 .squere-big img {
    width: 50%;
 }
 /* rettangolo  */
.rectangle{
    min-height: 125px;

}
.rectangle-title{
    font-size: 40px;
}

 .squere > img {
    display: block;
    filter: invert(1);
    width: 50%;
    
 }
 .gray-squere {
    background-color: var(--light-gray);
 }
.green-squere{
    background-color: var(--green);
    
}
.lightblue-squere{
    background-color: var(--blue);
}
.bordaux-squere{
    background-color: var(--bordeaux);
    
}
.red-squere{
    background-color: var(--red)
}
.darkred-squere{
    background-color: var(--dark-red);
}
.blu-squere{
    background-color: var(--blue);
}
.darkblu-squere{
    background-color: var(--dark-blue);
}
.lightblue-squere{
    background-color: var(--light-blue);
}
.yellow-squere{
    background-color: var(--yellow);
}
/* debug */
/* .debug .business-plan-card{
    border: 2px solid black;
} */